:root {
  --primary-color: #111827;
  --secondary-color: #1f2937;
  --tertiary-color: #6b6c6d;
  --background-color: #030712;
  --text-color: white;
  --font-family: "Arial", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 100vh;
}

aside {
  width: 300px;
  height: 100%;
}

main {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.page-title {
  color: var(--text-color);
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}

/* Animations */

.sidebar-button {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

.card-widget {
  animation: pop 0.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.01);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
